/*Styling for SearchBar.js component below*/

.search {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.search h1 {
  margin-bottom: 20px;
  margin-top: 140px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-weight: bold;
}

.search input {
  width: 80%;
  height: 32px;
}

.search-button {
  margin-left: 1%;
}
/*Styling for ShortProfile.js component below*/

.short-profile {
  margin-bottom: 50px;
}

#not-found {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}

/*Styling for Movie.js component below*/

.poster img {
  height: 380px;
  width: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.18);
}

.short-summary {
  display: inline-block;
  padding-top: 100px;
}

.short-profile-buttons {
  margin-top: 30px;
  margin-right: 10px;
}

/*Styling for MovieList.js component below*/

.movie-list {
  padding-left: 0;
  padding-top: 50px;
}

.movie-list-container {
  height: 320px;
}

/*Styling for MovieListItem.js component below*/

.movie-list-item {
  list-style-type: none;
  display: inline;
  text-align: center;
}

.movie-item a {
  text-decoration: none;
}

.movie-item-poster img {
  width: 70%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

.movie-item-poster img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.18);
}

.movie-item-button  {
  position: absolute;
  bottom: 55px;
  left: 25%;
  right: 25%;
}

.movie-item-year {
  position: absolute;
  bottom: 80px;
  left: 25%;
  right: 25%;
}

.movie-item-title {
  position: absolute;
  bottom: 100px;
  left: 10%;
  right: 10%;
}

/*Styling for LongProfile.js component below*/

.bold {
  font-weight: bold;
}

.long-prof-facts {
  list-style-type: none;
}

.long-prof-group {
  margin-top: 42px;
}

.long-prof-info {
  margin-top: 22px;

}
.long-prof-facts {
  padding-left: 0;
}

.long-prof-facts li {
  padding-top: 10px;
  font-size: 18px;
}

.long-prof-plot {
  font-size: 18px;
  margin-top: 42px;
}

.long-prof-poster img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.18);
}
